@import '../../styles/variables';

.brand-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $white;
  padding: 1rem 0;
  box-shadow: 0 5px 3px -2px rgba(0, 0, 0, 0.1);
  span {
    text-align: center;
    color: $dark-primary-color;
  }
}
