// DIMENSIONS
$mobile-width: 767px;

// FONT
$body-font: Roboto, 'Helvetica Neue', Helvetica , Arial ,sans-serif;

// COLORS
$dark-primary-color: #303F9F;
$light-primary-color: #C5CAE9;
$primary-color: #3F51B5;
$accent-color: #448AFF;
$white: #FFFFFF;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
