@import './fonts';
@import './variables';

body {
  font-family: $body-font;
  background: $body-background-color;
}

:focus{
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
